* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --azul-header: hsl(195, 91%, 25%);
  --cinza-claro-search: hsla(0, 0%, 100%, 0.2);
  --branco: hsl(0, 0%, 100%);
  --preto: hsl(240, 5%, 7%);
  --azul-footer: hsl(195, 46%, 40%)
}

body {
    display: grid;
    grid-template-areas:
      "header "
      "main"
      "aside"
      "footer";
      /*TOMEI A LIBERDADE DE AUMENTAR O GRID GRID PARA CONTER 3 COLUNAS*/
      /*DESSA FORMA, O MAIN PARECE MAIOR QUE O ASIDE*/
    grid-template-rows: auto;
    grid-template-columns: 1fr;

     /* Define a largura máxima para o conteúdo */
     min-height: 100vh;
     margin: auto 0;
     max-width: 100vw;
  }

.headerGrid,
.mainGrid,
.wrapper,
.footer-content {
  max-width: 43.68rem;
  margin: 0 auto;
}

/*COLOCANDO O GRID-AREA NOS PAIS DOS ELEMENTOS E NÃO EM SEUS FILHOS*/

.headerGrid{
  grid-area: header;
  margin: auto 0;
}

.mainGrid{
  grid-area: main;
  margin: auto 0;

}

.header {
  display: flex;
  /*Reduz o padding para o cabeçalho em telas menores */

  padding: 0.75rem 1rem; 
  justify-content: space-between;
  align-items: center;
  gap: 1.59rem;
  
  background-color: var(--azul-header);
  color: var(--branco);
  
}

#search {
  display: flex;
  align-items: center;
  background: var(--cinza-claro-search);
  width: calc(100% - 43px);
  padding: 0.75rem 1rem 0.75rem 0.88rem;
  border: none;
  border-radius: 0.25rem;
  gap: 0.75rem;

  /*Tirando a borda quando clica*/
  outline: 0;
}

#search::placeholder {
  color: var(--branco);
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
}

.avatar {
  width: 2.63rem;
  height: 2.63rem;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

main img {
  width: 100%;
}

main h2 {
  margin-top: 1.93rem;
  margin-bottom: 0.5rem;
}

main button {
  display: flex;
  background-color: var(--azul-header);
  width: 2.5rem;
  padding: 0.75rem;

  border: none;
  border-radius: 62.43rem;
}

.button {
  display: inline-flex;
  gap: 0.75rem;
}

main p {
  color: var(--preto);
  margin-top: 1.94rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 2.12rem;
}

main h2,
main p {
  margin-left: 1.38rem;
  font-size: 1rem;
}

.button {
  margin-left: 1.38rem;
}

aside {
  grid-area: aside;
  background-color: var(--cinza-claro-search);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.wrapper h2 {
  padding-bottom: 2rem;
}

.article {
  display: flex;
  align-items: center; 
}

.article img {
  width: 9.5rem;
  height: 5.25rem;
  margin: 0 2rem 0 1rem
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.article h2,
.article p {
  margin: 0; 
  padding: 0;
}

.article h2 {
  font-size: 1.13rem;
  font-weight: 700;
}

.article p {
  font-size: 0.87rem;
  font-weight: 400;
}

footer {
  grid-area: footer;
  margin-top: 2.44rem;
  padding: 0; /* Adicionado para remover padding */
}

.footer-content {
  background-color: var(--azul-footer);
  color: var(--branco);
  padding: 1rem;
  width: 100%;
  text-align: center; /* Adicionado para alinhar o texto ao centro */
}

.footer-content p {
  color: var(--branco);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 600;

  align-items: center;
}

/*media quieries*/
@media (min-width: 700px) {
  body {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";

    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;

    min-height: 100vh;
    margin: 0;
    max-width: 100vw;
  }
  
  .main img {
    margin-top: 1.5rem;
  }

  .headerGrid {
    min-width: 1024px;
  }

  .wrapper {
   margin-top: 44px;
  }

  .footer-content {
    min-width: 43.68rem;
    max-width: 100%;
    margin: 0 auto;
  }
}
